body {
    background-color: #010015;
    font-family: 'Montserrat', sans-serif;
}

#app {
    display: grid;
    grid-template-columns: 1fr, 1fr;
    align-content: center;

    padding: 0 10rem;

    display: flex;
    align-items: center;
    gap: 30px;
    min-height: calc(100vh - 152px);
    justify-content: center;
}

h1 {
    color: #E2E2F5;
    line-height: 120%;
}

p {

    color: #D6D6F2;
    line-height: 140%;
}

main {
    margin-top: 180px;
    display: flex;
    width: 380px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

aside {
    display: flex;
    align-items: center;
}

.button {
    gap: 1rem;
    align-items: center;
    display: flex;
}

.btn {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 999px;
    background: var(--blue, #151557);
    color: #D6D6F2;
    text-transform: uppercase;
}

.btn:hover {
    border-radius: 999px;
    background: var(--blue-light, #212187);
}